{% extends "base.html" %}
{% load staticfiles %}


{% block body %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>AlDiwan</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="{% static 'images/AlDiwan Logo Big.png' %}" alt="">
            </div>
            <div class="col-md-6">
                <h2>About AlDewan</h2>

                <p>A final project for the bootcamp. Something that was supposedly simple to make in a relatively short
                    period of time. The bootcamp gave us the know-how to make a wide variety of websites, we had to come
                    up with the ideas. </p>

                <p>The idea started off with an inspiration from Mshary's project (agulex.com) and took off from there
                    in combination with Mohammad's previous work with image posting. Essa was a champ. It was to be a
                    hybrid between a messaging board and a social network, with a user shaping his own experience.</p>

                <p>With input from all members on the project's evolution, the website was formed. Users have the
                    ability of posting anonymously but signing up enables greater levels of interaction. In the end, it
                    is all up to the user. </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{% static 'images/people/Mshary_400by400.jpg' %}" alt="">

                    <div class="caption">
                        <h3>Mshary Al Sharekh<br>
                            <small>Developer</small>
                        </h3>
                        <p>The only team member with a computer science degree. Adores the backend and simoltanoeusly
                            despises the frontend. Very organised.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{% static 'images/people/mohammad_400by400.jpg' %}" alt="">

                    <div class="caption">
                        <h3>Mohammad Al Awadhi<br>
                            <small>Developer</small>
                        </h3>
                        <p>Architect by day, developer by night. Entrepreneur on the side too. Really, really loves the
                            frontend. Intrinsic knowledge of what would and wouldn't look good. </p>
                        <ul class="list-inline">

                            <li><a href="https://kw.linkedin.com/pub/mohammad-alawadhi/a2/9b3/659"><i
                                    class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/pyro_q8"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{% static 'images/people/essa_400by400.jpg' %}" alt="">

                    <div class="caption">
                        <h3>Essa Ibrahim<br>
                            <small>Developer</small>
                        </h3>
                        <p>Mechanical Engineer in training, burgeoning developer. Pragmatic, knows what can be done and
                            gets it done. </p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/essa.ibrahim.26"><i
                                    class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://uk.linkedin.com/pub/essa-ibrahim/a0/682/505"><i
                                    class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/essa26"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <hr>


        </div>
    </div>

{% endblock %}