<!DOCTYPE html>
<html>
<head>
    <title>Add A Post!</title>
</head>
<body>
    <form action="/post_create/" method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            {% if user.is_authenticated %}
                    <input type="hidden" name='author' value="{{ user.pk }}">
                {% else %}
                    <input type="hidden" name='author' value="88">
            {% endif %}

            <input type='submit' value='Upload Post'>

    </form>

            {{ valid }}
</body>
</html>

