<!--    (assets)([^"]+)    regular expression for screening href links (to add static link) website = https://regex101.com/r/jT1bL4/1-->
{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AlDewan</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/color-defaults.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/swatch-white.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/swatch-blue.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/swatch-gray.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/swatch-black.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/swatch-white-black.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/swatch-white-green.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/swatch-white-red.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/fonts.min.css' %}" media="screen">

        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

    </head>
    <body class="normal-header">
        <div id="masthead" class="navbar navbar-static-top swatch-white navbar-sticky" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                <!--<a href="index.html" class="navbar-brand">
                        <img src="{% static 'images/omega.gif' %}" alt="One of the best themes ever">Omega -->
                <a href="/" class="navbar-brand">
                        <img src="{% static 'images/pot.png' %}">

                    </a>
                </div>
                <nav class="collapse navbar-collapse main-navbar" role="navigation">
                    <div class="menu-sidebar pull-right">
                        <div id="search-4" class="sidebar-widget  widget_search">

                            <form role="search" method="GET" id="searchform" action="/tag_search/{{ query }}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" value="" name="{{ query }}" id="searchform" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn" type="submit" id="searchsubmit" value="Search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>


                    <ul class="nav navbar-nav navbar-right">

                       <li class="dropdown">
                          <!-- Button trigger modal -->
                          <a class="dropdown-toggle"  data-toggle="modal" data-target="#myModal"><b>
                          New Post</b>
                          </a>
                          <!-- Modal -->
                          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                             <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                   <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      <h4 class="modal-title" id="myModalLabel">Create A Post</h4>
                                   </div>
                                   <div class="modal-body">
                                      <form action="/post_create/" method="POST">
                                         <div class="form-group">
                                            {% csrf_token %}
                                            <input type="text" class="form-control" placeholder="Title" name="title">
                                            <input type="text" class="form-control" placeholder="Text" name="text">
                                            <input type="text" class="form-control" placeholder="Your Tags" name="tags">
                                         </div>
                                         <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">Post</button>
                                            {% if user.is_authenticated %}
                                            <input type="hidden" name='author' value="{{ user.pk }}">
                                            {% else %}
                                            <input type="hidden" name='author' value="88">
                                            {% endif %}
                                         </div>
                                      </form>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </li>
                        <li class="dropdown menu-item-object-oxy_mega_menu ">
                            <a href="/" class="dropdown-toggle" data-toggle="action">Home</a>

                        </li>



                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Elements</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="elements-basic-type.html">Basic Type
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-headers.html">Headers
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-columns.html">Columns
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-font-icons.html">Font Icons
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-section-backgrounds.html">Section Backgrounds
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-bootstrap-components.html">Bootstrap Components
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-pricing-tables.html">Pricing Tables
                                                    
                                                </a>
                                </li>
                                <li>
                                    <a href="elements-features-lists.html">Features Lists
                                                    
                                                </a>
                                </li>
                            </ul>
                        </li>

                                                {% if not user.is_authenticated %}

                                                    <li class="dropdown">
                          <!-- Button trigger modal -->
                          <a class="dropdown-toggle"  data-toggle="modal" data-target="#myModal"><b>
                          Login</b>
                          </a>
                          <!-- Modal -->
                          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                             <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                   <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      <h4 class="modal-title" id="myModalLabel">Login</h4>
                                   </div>
                                   <div class="modal-body">
                                      <form action="/login/" method="POST">
                                         <div class="form-group">
                                            {% csrf_token %}
                                            <input type="text" class="form-control" placeholder="Username" name="username">
                                            <input type="password" class="form-control" placeholder="Password" name="password">
                                         </div>
                                         <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">Login</button>

                                         </div>
                                      </form>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </li>


                        <li class="dropdown menu-item-object-oxy_mega_menu ">
                            <a href="/" class="dropdown-toggle" data-toggle="action">Home</a>

                        </li>
                            <li class="dropdown">
                                <a href="/signup/" class="dropdown-toggle" data-toggle="action">Signup</a>
                            </li>
                            <li class="dropdown">
                                <a href="/login/" class="dropdown-toggle" data-toggle="action">Login</a>
                            </li>
                        {% else %}

                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="/user_detail_add/">Add a Tag</a>
                                </li>
                                <li>
                                    <a href="/user_detail/">Your Tags</a>
                                </li>


                            </ul>
                        </li>

                            <li class="dropdown">
                                <a href="/logout/" class="dropdown-toggle" data-toggle="action">Logout</a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </div>
        <div id="content">
            <article>
                <section class="section swatch-black section-text-shadow section-inner-shadow">
                    <div class="background-media" style="background-image: url('/static/images/uploads/image-08-normal.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 40%;' %}" data-start="background-position:"
                    data-70-top-bottom="background-position:">
                    </div>
                    <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.3);"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <header class="blog-header text-left  element-normal-top element-normal-bottom not-condensed" data-os-animation="fadeInUp" data-os-animation-delay=".4s">
                                    <h1 class="blog-header-title super hairline medium-top">
                    AlDewan
                </h1>
                                </header>
                            </div>
                        </div>
                    </div>
                </section>
       {% block body %}
       {% endblock %}
            <footer id="footer" role="contentinfo">
                <section class="section swatch-black">
                    <div class="container">
                        <div class="row element-normal-top element-normal-bottom">
                            <div class="col-md-3">
                                <div id="recent-posts-4" class="sidebar-widget  widget_recent_entries">
                                    <h3 class="sidebar-header">Recent Posts</h3>
                                    <ul>
                                        <li class="clearfix">
                                            <div class="post-icon">
                                                <a href="blog-post.html" title="The beauty of the world.">
                                                    <img width="150" height="150" src="{% static 'images/uploads/image-08-normal-150x150.jpg' %}" class="attachment-thumbnail wp-post-image" alt="image-08-normal">
                                                </a>
                                            </div>
                                            <a href="blog-post.html" title="The beauty of the world.">The beauty of the world.</a>
                                            <small class="post-date">
                                        March 14, 2014
                                    </small>
                                        </li>
                                        <li class="clearfix">
                                            <div class="post-icon">
                                                <a href="blog-post.html" title="Colors are the smiles of nature.">
                                                    <img width="150" height="150" src="{% static 'images/uploads/image-02-normal-150x150.jpg' %}" class="attachment-thumbnail wp-post-image" alt="image-02-normal">
                                                </a>
                                            </div>
                                            <a href="blog-post.html" title="Colors are the smiles of nature.">Colors are the smiles of nature.</a>
                                            <small class="post-date">
                                    March 1, 2014
                                </small>
                                        </li>
                                        <li class="clearfix">
                                            <div class="post-icon">
                                                <a href="blog-post.html" title="Coffee is a language in itself.">
                                                    <img width="150" height="150" src="{% static 'images/uploads/image-03-normal-150x150.jpg' %}" class="attachment-thumbnail wp-post-image" alt="image-03-normal">
                                                </a>
                                            </div>
                                            <a href="blog-post.html" title="Coffee is a language in itself.">Coffee is a language in itself.</a>
                                            <small class="post-date">
                                    February 14, 2014
                                </small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="categories-4" class="sidebar-widget  widget_categories">
                                    <h3 class="sidebar-header">Categories</h3>
                                    <ul>
                                        <li class="cat-item cat-item-65">
                                            <a href="blog-classic.html" title="View all posts filed under About Design">About Design</a>
                                        </li>
                                        <li class="cat-item cat-item-62">
                                            <a href="blog-classic.html" title="View all posts filed under Coffee &amp; more">Coffee &amp; more</a>
                                        </li>
                                        <li class="cat-item cat-item-47">
                                            <a href="blog-classic.html" title="View all posts filed under Nature journal">Nature journal</a>
                                        </li>
                                        <li class="cat-item cat-item-54">
                                            <a href="blog-classic.html" title="View all posts filed under People and more">People and more</a>
                                        </li>
                                        <li class="cat-item cat-item-1">
                                            <a href="blog-classic.html" title="View all posts filed under Uncategorized">Uncategorized</a>
                                        </li>
                                        <li class="cat-item cat-item-59">
                                            <a href="blog-classic.html" title="View all posts filed under Wooden things">Wooden things</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="archives-4" class="sidebar-widget  widget_archive">
                                    <h3 class="sidebar-header">Archives</h3>
                                    <ul>
                                        <li>
                                            <a href="blog-classic.html">March 2014</a>
                                        </li>
                                        <li>
                                            <a href="blog-classic.html">February 2014</a>
                                        </li>
                                        <li>
                                            <a href="blog-classic.html">January 2014</a>
                                        </li>
                                        <li>
                                            <a href="blog-classic.html">December 2013</a>
                                        </li>
                                        <li>
                                            <a href="blog-classic.html">November 2013</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="tag_cloud-3" class="sidebar-widget  widget_tag_cloud">
                                    {% if user.is_authenticated %}
                                    <h3 class="sidebar-header">Tags</h3>
                                    <div class="tagcloud">
                                        <ul>


                                            {% for tag in home_tags %}
                                            <li>
                                                <form action="/tag_search/{{ tag }}/" method="GET">
                                                    <input type="submit" value="{{ tag }}" name="{{ tag }}">
                                                </form>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <h3 class="sidebar-header"><a href="/login/">Login</a> To View Your Tags!</h3>
                                    {% endif %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
        </div>
        <script src="{% static 'js/packages.min.js' %}"></script>
        <script src="{% static 'js/theme.min.js' %}"></script>
    </body>
</html>
