{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block body %}
<section id="two" class="section swatch-white">
   <div class="container">
      <div class="row element-normal-top element-normal-bottom">
         <div class="col-md-8 col-md-offset-2">
             {% for post in posts %}
            <article class="post post-showinfo">

               <header class="post-head">
                  <h2 class="post-title">
                     <a href="/post_detail/{{post.pk}}">
                     {{ post.title }}
                     </a>
                      {% if request.user.is_authenticated %}
    	<h4 class="upvote" id="{{ post.pk }}">Vote Up: <span id="upnum">{{ post.up_votes.count }}</span></h4>
    	--- <h4 class="downvote" id="{{ post.pk }}">Vote Down:<span id="downnum">{{ post.down_votes.count }}</span></h4>
                  {% else %}
                      <h4><a href="/login/">Login to Vote!</a></h4>
                          	{% endif %}

                  </h2>
                  <small> by
                  {{ post.author }},
                  {{ post.date_created }}
                  </small>
               </header>
               <div class="post-body">
                  <p>
                     {{ post.text }}
                  </p>
                   <p> tags:
                    {% for tag in post.tags.all %}
                       <a href="/tag_search/{{ tag }}/" method="GET">
        <input type="submit" value="{{ tag }}" name="{{ tag }}">
    </a>
                    {% endfor %}
                  </p>
                  <a class="post-more-link btn btn-default" href="/post_detail/{{post.pk}}">
                  read more
                  </a>
               </div>
            </article>
             {% endfor %}
         </section>
        </div>
    </div>
    </div>

        <script>
                $('.upvote').on('click', function(e) {
                    console.log('voted up!');
                    var postpk = e.target.id;
                    console.log(postpk);
                    $.ajax({
                        // defines request type
                        type: 'GET',
                        // defines the url
                        url: '/upvote/',
                        // defines the data to be sent to the server ('1' meaning upvote)
                        data: { postpk: postpk },
                        error: function() { console.log('error in upvoting')},
                        success: function(data) {
                            console.log(data[1]);
                            $("#downnum").text(data[1]);
                            $("#upnum").text(data[0]);

                        },
                    });

                });
                $('.downvote').on('click', function(e) {
                    console.log('voted down!');
                    var postpk = e.target.id;
                    console.log(postpk);
                    $.ajax({
                        // defines request type
                        type: 'GET',
                        // defines the url
                        url: '/downvote/',
                        // defines the data to be sent to the server ('1' meaning upvote)
                        data: { postpk: postpk },
                        error: function() { console.log('error in downvoting')},
                        success: function(data) {
                            $("#downnum").text(data[1]);
                            $("#upnum").text(data[0]);
                        },
                    });

                });
</script>

{% endblock %}