{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block body %}
<section id="two" class="section swatch-white">
   <div class="container">
      <div class="row element-normal-top element-normal-bottom">
         <div class="col-md-8 col-md-offset-2">
              <h3>Login Here:</h3></br>

                {% crispy form %}
             <form action="/signup/" method="POST">
        {% csrf_token %}
        {{ login_form.as_table }}
        <input type="submit" value="Click Here To Signup!">
    </form>
{{ valid }}
             </div>
          </div>
       </div>


{% endblock %}