<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
        <h4>{{ post.author }}</h4>
        <p>{{ post.text }}</p>
        {% for tag in post.tag_set.all %}
            <p>{{ tag.name }}</p>
        {% endfor %}

        {% for comment in post.comment_set.all %}
            <h5>{{ comment.author }}</h5>
            <p>{{ comment.text }}</p>
        {% endfor %}

        <form method="POST" action="/post_detail/{{ post.pk }}/">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="commented_on" value="{% post.pk %}"
            {% if user.is_authenticated %}
                <input type="hidden" name='author' value="{% user.pk %}">
            {% else %}
                <input type="hidden" name='author' value="88">
            {% endif %}
            <input type='submit' value='Add Comment'>


</body>
</html>