<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
        <h3>{{ post.title }}</h3>
        <h4>{{ post.date_created }}</h4>
        <h5>{{ post.author }}</h5>

        <p>{{ post.text }}</p>
        {% for tag in post.tag_set.all %}
            <p>{{ tag.name }}</p>
        {% endfor %}

        {% for comment in post.comment_set.all %}
            <h5>{{ comment.author }}</h5>
            <h6>{{ comment.date_created }}</h6>
            <p>{{ comment.text }}</p>
        {% endfor %}

        <form method="POST" action="/post_detail/{{ post.pk }}/">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="posted_on" value="{{ post.pk }}">
            {% if user.is_authenticated %}
                <input type="hidden" name='author' value="{{ user.pk }}">
            {% else %}
                <input type="hidden" name='author' value="88">
            {% endif %}
            <input type='submit' value='Add Comment'>

</form>
</body>
</html>