{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block body %}


    <div>
        {% for post in posts %}

            <div class="col-xs-12 col-sm-6 col-md-3">

                <article class="post ">

                    <header class="post-head">
                        <h2 class="post-title">
                            <a href="/post_detail/{{ post.pk }}">
                                {{ post.title }}
                            </a>

                            {% if request.user.is_authenticated %}
                                <h4 class="upvote" id="{{ post.pk }}">Vote Up: <span
                                        id="upnum{{ post.pk }}">{{ post.up_votes.count }}</span></h4>
                                ---<h4 class="downvote" id="{{ post.pk }}">Vote Down:<span
                                    id="downnum{{ post.pk }}">{{ post.down_votes.count }}</span></h4>
                            {% else %}
                                <h4>Vote Up: {{ post.up_votes.count }}</h4>
                                <h4>Vote Down: {{ post.down_votes.count }}</h4>

                                <h5><a href="/login/">Login to Vote!</a></h5>
                            {% endif %}


                        </h2>
                        <small> by
                            {{ post.author }},
                            {{ post.date_created }}
                        </small>

                    </header>
                    <div class="post-body">
                        <p>
                            {{ post.text }}
                        </p>
                        tags:
                        {% for tag in post.tags.all %}
                            <span class="post-more-link btn btn-sm"> <form action="/tag_search/" method="GET">
                                <input type="submit" value="{{ tag }}" name="name">
                            </form></span>
                        {% endfor %}
                        </br>
                        <a class="post-more-link btn btn-default" href="/post_detail/{{ post.pk }}">
                            read more
                        </a>
                    </div>
                </article>


            </div>
        {% endfor %}

    </div>

    </div>
    <div class="pages" align="center">

        <h4>Pages:</h4>
        {% if posts.object_list and posts.paginator.num_pages > 1 %}

            {% if posts.has_previous %}
                <button type="button" class="btn btn-sm"><a href="?page={{ posts.previous_page_number }}">back
                </a></button>
            {% endif %}

            {{ posts.number }} of {{ posts.paginator.num_pages }}

            {% if posts.has_next %}
                <button type="button" class="btn btn-sm"><a href="?page={{ posts.next_page_number }}"> next
                </a></button>
            {% endif %}

        {% endif %}
        </br>
        </br>

    </div>
    <script>
        $('.upvote').on('click', function (e) {
            console.log('voted up!');
            var postpk = e.target.id;
            console.log("I am the post PK:" + postpk);
            $.ajax({
                // defines request type
                type: 'GET',
                // defines the url
                url: '/upvote/',
                // defines the data to be sent to the server ('1' meaning upvote)
                data: {postpk: postpk},
                error: function () {
                    console.log('error in upvoting')
                },
                success: function (data) {
                    console.log(e.target.id);
                    console.log(data[1]);
                    $("#downnum" + e.target.id).text(data[1]);
                    $("#upnum" + e.target.id).text(data[0]);

                },
            });

        });
        $('.downvote').on('click', function (e) {
            console.log('voted down!');
            var postpk = e.target.id;
            console.log(postpk);
            $.ajax({
                // defines request type
                type: 'GET',
                // defines the url
                url: '/downvote/',
                // defines the data to be sent to the server ('1' meaning upvote)
                data: {postpk: postpk},
                error: function () {
                    console.log('error in downvoting')
                },
                success: function (data) {
                    console.log(e.target.id);
                    $("#downnum" + e.target.id).text(data[1]);
                    $("#upnum" + e.target.id).text(data[0]);
                },
            });

        });
    </script>


{% endblock %}