{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block body %}
<section id="two" class="section swatch-white">
   <div class="container">
      <div class="row element-normal-top element-normal-bottom">
         <div class="col-md-8 col-md-offset-2">
            <article class="post post-showinfo">
               <header class="post-head">
                  <h2 class="post-title">
                     <a>
                     {{ post.title }}
                     </a>
                  </h2>
                  <small> by
                  {{ post.author }}
                  {{ post.date_created }} ,
                  </small>





                          {% if request.user.is_authenticated %}
                                <h4 class="upvote" id="{{ post.pk }}">Vote Up: <span
                                        id="upnum{{ post.pk }}">{{ post.up_votes.count }}</span></h4>
                                ---<h4 class="downvote" id="{{ post.pk }}">Vote Down:<span
                                    id="downnum{{ post.pk }}">{{ post.down_votes.count }}</span></h4>
                            {% else %}
                                <h4>Vote Up: {{ post.up_votes.count }}</h4>
                                <h4>Vote Down: {{ post.down_votes.count }}</h4>

                                <h5><a href="/login/">Login to Vote!</a></h5>
                            {% endif %}
               </header>
               <div class="post-body">
                  <p>
                     {{ post.text }}
                  </p>
                   <p> tags:
                                    {% for tag in post.tags.all %}
                                        <a href="/tag_search/?name={{ tag }}" method="GET">
                                            <input type="submit" value="{{ tag }}" name="{{ tag }}">
                                        </a>
                                    {% endfor %}
                                </p>

                  {% if post.image %}
                  <img src="{{post.image.url}}" class="img-responsive" alt="No image">
                  {% else %}
                  noimage
                  {% endif %}
                  <p> tags:
                     {% for tag in tags %}
                         <a href="/tag_search/{{ tag }}/" method="GET">
        <input type="submit" value="{{ tag }}" name="{{ tag }}">
    </a>
                     {% endfor %}
                  </p>

               <h4>Comments:</h4>
                  {% for comment in post.comment_set.all %}
                  <h5>{{ comment.author }}</h5>
                  <h6>{{ comment.date_created }}</h6>
                  <p>{{ comment.text }}</p>
                  {% endfor %}
                  <form method="POST" action="/post_detail/{{ post.pk }}/">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="hidden" name="posted_on" value="{{ post.pk }}">
                  {% if user.is_authenticated %}
                  <input type="hidden" name='author' value="{{ user.pk }}">
                  {% else %}
                  <input type="hidden" name='author' value="88">
                  {% endif %}
                  <input type='submit' value='Add Comment'>
               </div>
            </article>
</section>

</div>
</div>
</div>

    <script>
        $('.upvote').on('click', function (e) {
            console.log('voted up!');
            var postpk = e.target.id;
            console.log("I am the post PK:" + postpk);
            $.ajax({
                // defines request type
                type: 'GET',
                // defines the url
                url: '/upvote/',
                // defines the data to be sent to the server ('1' meaning upvote)
                data: {postpk: postpk},
                error: function () {
                    console.log('error in upvoting')
                },
                success: function (data) {
                    console.log(e.target.id);
                    console.log(data[1]);
                    $("#downnum" + e.target.id).text(data[1]);
                    $("#upnum" + e.target.id).text(data[0]);

                },
            });

        });
        $('.downvote').on('click', function (e) {
            console.log('voted down!');
            var postpk = e.target.id;
            console.log(postpk);
            $.ajax({
                // defines request type
                type: 'GET',
                // defines the url
                url: '/downvote/',
                // defines the data to be sent to the server ('1' meaning upvote)
                data: {postpk: postpk},
                error: function () {
                    console.log('error in downvoting')
                },
                success: function (data) {
                    console.log(e.target.id);
                    $("#downnum" + e.target.id).text(data[1]);
                    $("#upnum" + e.target.id).text(data[0]);
                },
            });

        });
    </script>

{% endblock %}